RewriteEngine on

# Deny access to database
RewriteRule (.*).db index.php

# Reroute to index
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteCond %{REQUEST_FILENAME} !-l
RewriteRule ^(.*)$ index.php [PT,L]